### Deadline: 12:00 08.11 (Tuesday) 
**Group size: 2-3 persons.** <br>
**Assignments should be performed in this ipython notebook, saved and sent to vasilev@uni-koblenz.de, florian.lemmerich@gesis.org, philipp.singer@gesis.org with Subject: [ML-Assignment]**<br>
**You create groups on your own, names of all group participants should be mentioned in the letter.**

###  Following cell is for data preparation, you should put 'adult.data' file in the same folder as current notebook and ran the cell in the beginning.

In [169]:
import pandas as pd
import numpy as np
names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain'
    ,
        'capital-loss','hours-per-week','native-country','income']
df = pd.read_csv('adult.data',names=names,index_col=False)
df = df[['age','workclass','sex','hours-per-week','education','capital-gain','capital-loss','income']]
df.replace(' ?',np.nan,inplace=True)

### The dataset consists of 7 features of a person and an income class that they belong to: '>50K' or '<=50K'.

In [170]:
df.head()

,age,workclass,sex,hours-per-week,education,capital-gain,capital-loss,income
0,39,State-gov,Male,40,Bachelors,2174,0,<=50K
1,50,Self-emp-not-inc,Male,13,Bachelors,0,0,<=50K
2,38,Private,Male,40,HS-grad,0,0,<=50K
3,53,Private,Male,40,11th,0,0,<=50K
4,28,Private,Female,40,Bachelors,0,0,<=50K

## Some data analysis

### What workclass is payed better?

In [171]:
df[df.income == " <=50K"].workclass.value_counts()

 Private             17733
 Self-emp-not-inc     1817
 Local-gov            1476
 State-gov             945
 Federal-gov           589
 Self-emp-inc          494
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [172]:
df[df.income == " >50K"].workclass.value_counts()

 Private             4963
 Self-emp-not-inc     724
 Self-emp-inc         622
 Local-gov            617
 Federal-gov          371
 State-gov            353
Name: workclass, dtype: int64

### Are men payed better?

In [173]:
male = df[df.sex == " Male"].income.value_counts()
print(male)
suma = male[0]+male[1]
print(male[0]/suma)
print(male[1]/suma)

 <=50K    15128
 >50K      6662
Name: income, dtype: int64
0.694263423589
0.305736576411

In [174]:
fem = df[df.sex == " Female"].income.value_counts()
print(fem)
suma = fem[0]+fem[1]
print(fem[0]/suma)
print(fem[1]/suma)

 <=50K    9592
 >50K     1179
Name: income, dtype: int64
0.890539411382
0.109460588618

In [175]:
df.mean()

age                 38.581647
hours-per-week      40.437456
capital-gain      1077.648844
capital-loss        87.303830
dtype: float64

## 1) Perform k-nearest neighbors algorithm with two k parameters of your choice on a given dataset.

### 1.1) Preprocessing: dataset contains missing values and categorical variables, you need to handle them, before applying an algorithm on the data.

In [176]:
# Number of null values in the dataset
df.workclass.isnull().sum()

1836

In [177]:
# Replace all null values with most common category - Private
df.workclass = df.workclass.fillna(" Private")
# df.dropna(0, how="any", inplace=True) #Droping nulls shows worse results!

In [178]:
# Check are there any null values left
df.isnull().sum()

age               0
workclass         0
sex               0
hours-per-week    0
education         0
capital-gain      0
capital-loss      0
income            0
dtype: int64

In [179]:
# Handling categorical values with pandas get_dummies
pd.get_dummies(df.workclass).head()

,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [180]:
cat_columns = ['workclass', 'sex', 'education']
for cat_col in cat_columns:
    df = df.join(pd.get_dummies(df[cat_col]))

In [181]:
df = df.drop(labels=cat_columns, axis=1)
df.head()

,age,hours-per-week,capital-gain,capital-loss,income,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,...,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,39,40,2174,0,<=50K,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,13,0,0,<=50K,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,40,0,0,<=50K,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,53,40,0,0,<=50K,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,40,0,0,<=50K,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### 1.2) You need to divide your dataset into two parts: training and test. Training subset should contain 80% of the whole dataset and target classes should be balanced in both subsets.

In [182]:
from sklearn.cross_validation import train_test_split
X1, X2, y1, y2 = train_test_split(df.drop("income", axis=1), df["income"], test_size=0.2, random_state=1)

### Checking the distribution of the classes before and after the split

In [183]:
t = df["income"].value_counts()
for inc in t:
    print(inc/sum(t)*100)

75.9190442554
24.0809557446

In [184]:
t1 = y1.value_counts()
print(t1)
for inc in t1:
    print(inc/len(y1)*100)

 <=50K    19694
 >50K      6354
Name: income, dtype: int64
75.6065724816
24.3934275184

In [185]:
t2 = y2.value_counts()
for inc in t2:
    print(inc/len(y2)*100)

77.1687394442
22.8312605558

### 1.3) Apply k-nearest neighbors algorithm with two different k parameters of your choice:

In [186]:
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors=5)
knn2 = KNeighborsClassifier(n_neighbors=30)

In [187]:
knn1.fit(X1, y1)
knn2.fit(X1, y1)
res1 = knn1.predict(X2)
res2 = knn2.predict(X2)

## 2) Evaluate and compare performance of two models:

### 2.1) Print performance metrics of your models:

In [188]:
from sklearn.metrics import classification_report, accuracy_score
rep1 = classification_report(y2,res1)
rep2 = classification_report(y2,res2)
acc1 = accuracy_score(y2,res1)
acc2 = accuracy_score(y2,res2)
print(rep1)
print(rep2)
print(acc1)
print(acc2)

             precision    recall  f1-score   support

      <=50K       0.87      0.92      0.89      5026
       >50K       0.66      0.52      0.58      1487

avg / total       0.82      0.83      0.82      6513

             precision    recall  f1-score   support

      <=50K       0.85      0.95      0.90      5026
       >50K       0.73      0.44      0.55      1487

avg / total       0.82      0.84      0.82      6513

0.830185782282
0.835099032704

### 2.2) In a few sentences argue which k performed better, based on performance metrics from the previous task.

The algorithm with the larger number of neigbours(30) preformed slightly better than the one with a smaller number(5). The knn with more neighbours has slightly higher accuracy overall, and has higher precision for income class ">50K" (0,73 vs 0.66), but has a smaller recall for the same class (0.44 vs 0.52). Both algorithms have a high precision and recall for class "<=50K" (over 85%).

### 2.3) Classification for which class were performed better? Why do you think this is the case?

The classification for class "<=50K" performed better, because there is more data to train the algorithm from.