# MLDM Group Assignment
## Members: Brigitte Aznar, Daniel Kostic and Stefan Vujovic

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv', index_col=0)
# df.survived = df.survived.apply(lambda x: "yes" if x else "no")
# df.to_csv('data1.csv')

In [2]:
# df['sex1'] = df.sex.apply(lambda x: 1 if x=="male" else 0)
# df['survived'] = df.survived.apply(lambda x: "survived" if x==1 else "")
def makeClass(x):
    if x==1: return "firstClass"
    elif x==2: return "secondClass"
    else: return "thirdClass"
df['pclass'] = df.pclass.apply(lambda x: makeClass(x))
df.fare = df.fare.apply(lambda x: 33 if pd.isnull(x) else x)
# df.fare.dropna(inplace=True, how='any')
# df.embarked.dropna(inplace=True)
df.head()

   survived      pclass     sex      age  sibsp  parch      fare embarked
0         1  firstClass  female  29.0000      0      0  211.3375        S
1         1  firstClass    male   0.9167      1      2  151.5500        S
2         0  firstClass  female   2.0000      1      2  151.5500        S
3         0  firstClass    male  30.0000      1      2  151.5500        S
4         0  firstClass  female  25.0000      1      2  151.5500        S

In [3]:
df.embarked.isnull().value_counts()

False    1307
True        2
Name: embarked, dtype: int64

In [4]:
df.age.describe()
mean = 29.881135
std_dev = 14.413500
age_fillers = np.random.normal(mean, std_dev, 280)
age_fillers = [i for i in age_fillers if i>0][:263]
df['age1'] = df.age.apply(lambda x: age_fillers.pop() if np.isnan(x) else x)

In [5]:
cat_columns = ['pclass', 'sex'] # embarked
for cat_col in cat_columns:
    df = df.join(pd.get_dummies(df[cat_col]))

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn import tree
features = ['age1', 'firstClass', 'secondClass', 'thirdClass', 'sibsp', 'parch', 'fare', 'female'] #, 'C', 'Q', 'S'
clf = tree.DecisionTreeClassifier(criterion='gini')
clf = clf.fit(df[features], df['survived'])

In [8]:
tree.export_graphviz(clf, out_file='tree.dot')

In [9]:
for feat in features:
    print("{}, from {}".format(df[feat].isnull().sum(), feat))

0, from age1
0, from firstClass
0, from secondClass
0, from thirdClass
0, from sibsp
0, from parch
0, from fare
0, from female

In [10]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,age1,firstClass,secondClass,thirdClass,female,male
0,1,firstClass,female,29.0000,0,0,211.3375,S,29.0000,1,0,0,1,0
1,1,firstClass,male,0.9167,1,2,151.5500,S,0.9167,1,0,0,0,1
2,0,firstClass,female,2.0000,1,2,151.5500,S,2.0000,1,0,0,1,0
3,0,firstClass,male,30.0000,1,2,151.5500,S,30.0000,1,0,0,0,1
4,0,firstClass,female,25.0000,1,2,151.5500,S,25.0000,1,0,0,1,0

In [11]:
def gini(attribute):
    att_values = df[attribute].unique()
    for class_val in [0,1]:
        for val in att_values:
            size = df[df[attribute]==val].shape[0]
            gini = df[df[attribute]==val].survived.count() / float(size)
            print ("Class:{}, Attribute:{}, GINI:{}".format(class_val, val, gini))

In [12]:
gini('sex')

Class:0, Attribute:female, GINI:1.0
Class:0, Attribute:male, GINI:1.0
Class:1, Attribute:female, GINI:1.0
Class:1, Attribute:male, GINI:1.0

In [13]:
[1,2,3,3,3,3,3].count(3)

5

In [14]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,age1,firstClass,secondClass,thirdClass,female,male
0,1,firstClass,female,29.0000,0,0,211.3375,S,29.0000,1,0,0,1,0
1,1,firstClass,male,0.9167,1,2,151.5500,S,0.9167,1,0,0,0,1
2,0,firstClass,female,2.0000,1,2,151.5500,S,2.0000,1,0,0,1,0
3,0,firstClass,male,30.0000,1,2,151.5500,S,30.0000,1,0,0,0,1
4,0,firstClass,female,25.0000,1,2,151.5500,S,25.0000,1,0,0,1,0

In [19]:
from DecisionTree import fit, predict, printtree

In [34]:
tree = fit(df[['sex', 'age1', 'pclass', 'fare']], df['survived'])

D:\dev\machine-learning-data-mining\assignment_4\DecisionTree.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  features[label] = target.values

In [35]:
predictions = predict(df[['sex', 'age1', 'pclass', 'fare']], tree)

In [36]:
df['predictions'] = pd.Series(predictions)

In [37]:
df['diff'] = df['survived'] - df['predictions']

In [40]:
df['diff'].sum()

27

In [39]:
df[['survived', 'predictions', 'diff']].head(100)

    survived  predictions  diff
0          1            1     0
1          1            1     0
2          0            0     0
3          0            0     0
4          0            0     0
5          1            1     0
6          1            1     0
7          0            0     0
8          1            1     0
9          0            0     0
10         0            0     0
11         1            1     0
12         1            1     0
13         1            1     0
14         1            1     0
15         0            0     0
16         0            0     0
17         1            1     0
18         1            1     0
19         0            0     0
20         1            1     0
21         1            1     0
22         1            1     0
23         1            1     0
24         1            1     0
25         0            0     0
26         1            1     0
27         1            1     0
28         1            1     0
29         1            1     0
..       ...          ...   ...
70         0            0     0
71         0            0     0
72         1            1     0
73         1            1     0
74         0            0     0
75         0            0     0
76         1            1     0
77         0            0     0
78         1            1     0
79         1            1     0
80         0            0     0
81         0            0     0
82         1            1     0
83         1            1     0
84         0            0     0
85         1            1     0
86         1            1     0
87         1            1     0
88         1            1     0
89         0            0     0
90         1            1     0
91         1            1     0
92         1            1     0
93         1            1     0
94         1            1     0
95         1            1     0
96         0            0     0
97         1            1     0
98         1            1     0
99         1            1     0

[100 rows x 3 columns]