# MLDM Group Assignment
## Members: Brigitte Aznar, Daniel Kostic and Stefan Vujovic

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv', index_col=0)
# df.survived = df.survived.apply(lambda x: "yes" if x else "no")
# df.to_csv('data1.csv')

In [14]:
# df['sex1'] = df.sex.apply(lambda x: 1 if x=="male" else 0)
# df['survived'] = df.survived.apply(lambda x: "survived" if x==1 else "")
def makeClass(x):
    if x==1: return "firstClass"
    elif x==2: return "secondClass"
    else: return "thirdClass"
df['pclass'] = df.pclass.apply(lambda x: makeClass(x))
df.fare = df.fare.apply(lambda x: 33 if pd.isnull(x) else x)
# df.fare.dropna(inplace=True, how='any')
# df.embarked.dropna(inplace=True)
df.head()

   survived      pclass     sex      age  sibsp  parch      fare embarked
0         1  firstClass  female  29.0000      0      0  211.3375        S
1         1  firstClass    male   0.9167      1      2  151.5500        S
2         0  firstClass  female   2.0000      1      2  151.5500        S
3         0  firstClass    male  30.0000      1      2  151.5500        S
4         0  firstClass  female  25.0000      1      2  151.5500        S

In [15]:
df.embarked.isnull().value_counts()

False    1307
True        2
Name: embarked, dtype: int64

In [16]:
df.age.describe()
mean = 29.881135
std_dev = 14.413500
age_fillers = np.random.normal(mean, std_dev, 280)
age_fillers = [i for i in age_fillers if i>0][:263]
df['age1'] = df.age.apply(lambda x: age_fillers.pop() if np.isnan(x) else x)

In [17]:
cat_columns = ['pclass', 'sex'] # embarked
for cat_col in cat_columns:
    df = df.join(pd.get_dummies(df[cat_col]))

In [22]:
from sklearn import tree
features = ['age1', 'firstClass', 'secondClass', 'thirdClass', 'sibsp', 'parch', 'fare', 'female'] #, 'C', 'Q', 'S'
clf = tree.DecisionTreeClassifier(criterion='gini')
clf = clf.fit(df[features], df['survived'])

In [23]:
tree.export_graphviz(clf, out_file='tree.dot')

In [19]:
for feat in features:
    print("{}, from {}".format(df[feat].isnull().sum(), feat))

0, from age1
0, from firstClass
0, from secondClass
0, from thirdClass
0, from sibsp
0, from parch
0, from fare
0, from female
0, from male

In [24]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,age1,firstClass,secondClass,thirdClass,female,male
0,1,firstClass,female,29.0000,0,0,211.3375,S,29.0000,1,0,0,1,0
1,1,firstClass,male,0.9167,1,2,151.5500,S,0.9167,1,0,0,0,1
2,0,firstClass,female,2.0000,1,2,151.5500,S,2.0000,1,0,0,1,0
3,0,firstClass,male,30.0000,1,2,151.5500,S,30.0000,1,0,0,0,1
4,0,firstClass,female,25.0000,1,2,151.5500,S,25.0000,1,0,0,1,0