In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv', index_col=0)
# df.survived = df.survived.apply(lambda x: "yes" if x else "no")
# df.to_csv('data1.csv')

In [2]:
# df['sex1'] = df.sex.apply(lambda x: 1 if x=="male" else 0)
# df['survived'] = df.survived.apply(lambda x: "survived" if x==1 else "")
def makeClass(x):
    if x==1: return "firstClass"
    elif x==2: return "secondClass"
    else: return "thirdClass"
df['pclass'] = df.pclass.apply(lambda x: makeClass(x))
df.fare = df.fare.apply(lambda x: 33 if pd.isnull(x) else x) #33 is the mean value
# df.fare.dropna(inplace=True, how='any')
# df.embarked.dropna(inplace=True)
df.head()

   survived      pclass     sex      age  sibsp  parch      fare embarked
0         1  firstClass  female  29.0000      0      0  211.3375        S
1         1  firstClass    male   0.9167      1      2  151.5500        S
2         0  firstClass  female   2.0000      1      2  151.5500        S
3         0  firstClass    male  30.0000      1      2  151.5500        S
4         0  firstClass  female  25.0000      1      2  151.5500        S

In [3]:
df.age.describe()
mean = 29.881135
std_dev = 14.413500
age_fillers = np.random.normal(mean, std_dev, 280)
age_fillers = [i for i in age_fillers if i>0][:263]
df['age1'] = df.age.apply(lambda x: age_fillers.pop() if np.isnan(x) else x)

C:\Users\Bri\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [37]:
import matplotlib.pylab as plt
survivedf = list()
survivedm = list()
for index, row in df.iterrows():
    if row['sex'] == 'female':
        survivedf.append(row['survived'])
    else:
        survivedm.append(row['survived'])
plt.bar(survivedf)
plt.bar(survivedm)



plt.show()

TypeError: bar() takes at least 2 arguments (1 given)